ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-image: url('img/_bg.png');
    padding: 5px;
}

.attension{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    border: #ddd 1px solid;
}

article {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    border: #ddd 1px solid;
}

.entry-title {
    font-size: 1.5em;
    margin: 0 0 20px 0;
    padding-bottom: 5px;
    border-bottom: 5px solid #ff8e00;
}

.bbp-meta {
    font-size: 0.8em;
    background-color: #eee;
    padding: 5px;
}

.loop-item--1 {
    display: flex;
}

.bbp-reply-content {
    font-size: 1em;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    line-height: 2.3em;
}

.ID_color {
    color: #212529;
    text-decoration: none;
}

.avatar,
.avatar_narikiri {
    width: 35px;
    height: 35px;
}

.avatar_narikiri {
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
}

.home-btn{
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    bottom: 1%;
    right: 1%;
    color:white;
    padding: 10px;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}

.home-btn a {
    color: #fcfcfc;
    font-weight: bold;
    text-decoration: none;
}

.ss-icon{
    position: relative;
    margin-right: 15px;
}

.emote img{
    position: absolute;
    width: 15px;
    height: 15px;
}

.ss_content #text {
    margin-left: 10px;
}